@import "tailwindcss";

:root {
    --fill-color: #dcf1ca;
    --process-color: #fefe5fa0;
}

body {
    @apply bg-[#FAFAFA];
}

.shadow-btn {
    @apply shadow-[0_2px_4px_rgba(0,0,0,0.125)] cursor-pointer;
}

.hover-btn{
    @apply hover:bg-white hover:text-black hover:rounded-md hover:shadow-[0_2px_4px_rgba(0,0,0,0.25)] hover:duration-200 hover:cursor-pointer;
}

.selected-btn{
    @apply bg-white text-black rounded-md shadow-[0_2px_4px_rgba(0,0,0,0.25)] duration-200 cursor-pointer;
}

.login-button {
    @apply hover:cursor-pointer uppercase bg-[#b60f16] text-white w-[100%] py-3 mt-2 rounded font-bold
}

.login-input {
    @apply placeholder:font-medium w-[100%] p-3 px-4 m-1 rounded;
    border: 1.5px solid #e3e3e3;
}

.btn {
    @apply shadow-[0_0_1.5px_#666] rounded hover:duration-200 hover:shadow-[0_0_2px_#555] hover:cursor-pointer hover:scale-[1.02] bg-white
}


.my-popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.my-popup-arrow {   
  color: rgb(255, 255, 255);
}
[role='tooltip'].my-popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.my-popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].my-popup-overlay {
  background: transparent;
}

.animation-grow-down {
    animation: grow-down 0.2s linear;
}

@keyframes grow-down {
    from {
        opacity: 0;
        transform-origin: top left;
        transform: scale(0);
    } to {
        transform-origin: top left;
        opacity: 1;
        transform: scale(1);
    }
}